flows.json
[{"id":"6fcf1b10.90c0e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"661f528a.47142c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"51caf629.3fbb88","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"51720994.110d08","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"391c6a1f.032156","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2af12954.90ebd6","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5420fe88.1dd01","type":"http in","z":"6fcf1b10.90c0e4","name":"","url":"/meuip","method":"get","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["d049c4c.8213a38"]]},{"id":"a91325c2.306948","type":"http response","z":"6fcf1b10.90c0e4","name":"","statusCode":"","headers":{},"x":410,"y":220,"wires":[]},{"id":"eaa2493c.8b0a18","type":"debug","z":"6fcf1b10.90c0e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":380,"wires":[]},{"id":"d049c4c.8213a38","type":"change","z":"6fcf1b10.90c0e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.ip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":120,"wires":[["a91325c2.306948","eaa2493c.8b0a18"]]},{"id":"5f606927.7d59a8","type":"http request","z":"661f528a.47142c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/meuip","tls":"","proxy":"","authType":"basic","x":160,"y":280,"wires":[["d052272b.71a538"]]},{"id":"d052272b.71a538","type":"debug","z":"661f528a.47142c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":380,"wires":[]},{"id":"3b8a84c7.5965fc","type":"inject","z":"661f528a.47142c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["5f606927.7d59a8"]]},{"id":"5aa240c5.d2f65","type":"inject","z":"51caf629.3fbb88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["e487fecf.3421d","c869dba.27e7b28"]]},{"id":"e487fecf.3421d","type":"http request","z":"51caf629.3fbb88","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://localhost:1880/arduino17/temperatura","tls":"","proxy":"","authType":"basic","x":340,"y":260,"wires":[["23afe65c.f8bd2a"]]},{"id":"23afe65c.f8bd2a","type":"debug","z":"51caf629.3fbb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":340,"wires":[]},{"id":"c869dba.27e7b28","type":"debug","z":"51caf629.3fbb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":120,"wires":[]},{"id":"22a1c8fe.51ec28","type":"http in","z":"51720994.110d08","name":"","url":"/arduino17/temperatura","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["16ec3ae3.16b975"]]},{"id":"8bbf2285.126bf","type":"http response","z":"51720994.110d08","name":"","statusCode":"","headers":{},"x":550,"y":240,"wires":[]},{"id":"16ec3ae3.16b975","type":"change","z":"51720994.110d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temperatura","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["8bbf2285.126bf"]]},{"id":"b30fb615.cde998","type":"change","z":"51720994.110d08","name":"","rules":[{"t":"set","p":"temperatura","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":520,"wires":[[]]},{"id":"b031070d.010058","type":"inject","z":"51720994.110d08","name":"","topic":"","payload":"{\"value\":15.5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["b30fb615.cde998"]]},{"id":"2abb7f8f.d51bc","type":"mqtt in","z":"51720994.110d08","name":"","topic":"fiap/arduino17/sensor/temperatura","qos":"2","datatype":"auto","broker":"2af12954.90ebd6","x":160,"y":600,"wires":[["b30fb615.cde998"]]},{"id":"11efe0bd.37d46f","type":"http in","z":"391c6a1f.032156","name":"","url":"/arduino17/temperatura","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["6399efe9.69be","aa763c12.cc73d"]]},{"id":"aa763c12.cc73d","type":"http response","z":"391c6a1f.032156","name":"","statusCode":"","headers":{},"x":430,"y":360,"wires":[]},{"id":"6399efe9.69be","type":"mqtt out","z":"391c6a1f.032156","name":"","topic":"fiap/arduino17/sensor/temperatura","qos":"","retain":"","broker":"2af12954.90ebd6","x":540,"y":260,"wires":[]},{"id":"bf01f301.48e57","type":"inject","z":"391c6a1f.032156","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":600,"wires":[["73728d67.871b54"]]},{"id":"73728d67.871b54","type":"http request","z":"391c6a1f.032156","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:1880/arduino17/temperatura","tls":"","proxy":"","authType":"basic","x":360,"y":600,"wires":[["cf052c07.1d635"]]},{"id":"cf052c07.1d635","type":"debug","z":"391c6a1f.032156","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":620,"wires":[]}]